.button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    text-align: left;
    border: #3498DB solid 1px;
    border-radius: 10px;
    padding: 0 0 0 15px;
    color: white;
    text-decoration: none;
}

.full {
    background: #3498DB;
}

.light {
    background: white;
    color: #3498DB;
}