
/* MAIN ILLU */
.profiles .main-illu {
    width: 225px;
    margin: auto;
}

.profiles .main-illu img{
    width: 100%;
}

/* BUTTONS */
.profiles p {
    width: 90%;
    text-align: left;
    margin-bottom: 15px;
    font-size: 20px;
}

.profiles .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles .buttons .button{
    margin-bottom: 20px;
}
