/* HEADER */
.header{
    height: 35vh;
}

.header h1 {
    position: absolute;
    top: 50px;
    font-size: 32px;
    text-align: left;
    left: 43px;
    color: white;
}

.header img {
    width: 100vw;
}
